* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../images/Capa\ menu\ do\ jogo\ da\ velha.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(4px);
}

/* css do formulário de escolha */
form {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

/* Título */
h2 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
}
/* Estilização do Tabuleiro */
.tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 2px solid #000;
  margin-bottom: 20px;
}

.celula {
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.1s;
}

.celula:hover {
  background-color: #ddd;
  transform: scale(1.02);
}

.celula img {
  width: 90%;
  height: 90%;
  cursor: pointer;
  object-fit: contain;
}

/* img {
  width: 100%;
  height: 100%;
} */

/* css do botão de reiniciar */
button {
  padding: 12px 24px;
  background-color: #00ff7f;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00cc66;
}

button:active {
  background-color: #00994d;
}

#mensagemFimDeJogo {
  font-size: 28px;
  font-weight: bold;
  color: beige;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }

  button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1020px) {
  body {
    background-image: url(../images/capa_menu_do_jogo_da_velha_mobile.png);
    background-size: cover;
  }
}
